body{
    overflow: hidden;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #0079d3;
}

a:hover{
    opacity:0.5;
}


#main_art{
    height: 100vh;
    width:10vw;
    padding: none;
    margin: 0ems;
}
.image_container{
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
  
}

.Login_titles > *{
    position: relative;
    font-family: Noto Sans,sans-serif;
    font-size: 12px;
    padding-left: 30vw;

    
}
.Log_in_prompt_container{
    position: relative;
    top: 20vh;
    left: 12vw;
}
.Log_in_prompt{
    align-items: center;
    text-decoration: none;
}

.Easy_Login{
    position:absolute;
    top:35vh;
    left: 12vw;
}

.Google{
    position: relative;
    margin: none;
    border-radius: 20px;
    border-width: 0.4px;
    width:18vw;
    height:5vh;
    background: white;
    top:1vh;
 
}

.Google:hover{
    opacity: 0.4;
    border-color: #0079d3;
}
#Google_favicon{
    width: 18px;
    float:left;
}
.Google_content{
    font-size: 15px;
    font-style: normal;
    font-family: "Google Sans",arial,sans-serif;
    color: 3c4043;
}
.Apple{
    position: relative;
    margin:none;
    border-radius: 20px;
    border-width: 0.4px;
    width:18vw;
    height:5vh;
    background: white;
    top:3vh;

}
#Apple_favicon{
    width:35px;
    float:left;
}

.Apple_content{
    font-size: 15px;
    font-style: normal;
    font-family: "Google Sans",arial,sans-serif;
    color: 3c4043;

}

.Apple:hover{
    opacity: 0.4;
    border-color: #0079d3;
}

.Divider{
    align-items: center;
    position: absolute;
    top:55vh;
    left:12vw;

}



.divider-line{
    display:inline-block;
    width:120px;
    height:0px;
    border-top: 1px solid grey;
    opacity: 0.5;
}
.Divider_content{
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    font-family: IBMPlexSans,sans-serif;
    font-size:14px;
    color:#878a8c;
    font-weight: 500;
    line-height:25px;
}

.inputboxes{
    position: absolute;
    top:60vh;
    left:12vw;
    margin:none;

}
.inputboxes > *{
    position: relative;
    display: block;
    margin:none;
    border:none;
    border:1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    background-color: #fcfcfb;
    padding: 12px 8px 10px;
    height:50px;
    cursor:pointer;
}

.Actual_username{
    width:160%;
    margin-bottom: 12px;
    align-items: center;
    position: relative;


}

.Actual_username:hover{
    opacity:0.7;
}



.Actual_password{
    width:160%;
    margin-bottom: 12px;
    align-items: center;
    position: relative;

 
} 

.Actual_password:hover{
    opacity:0.8;
}
.Button_to_submit{

    position: absolute;
    top:78vh;
    left:12vw;
}
.Submit_details{
    position: absolute;
    margin:none;
    border-radius: 8px;
    width: 300px;
    color:white;
    border:0vh;
    font-size:14px;
    letter-spacing:.5px;
    text-overflow: ellipsis;
    font-weight:600;
    background: #0079d3;
    padding: 12px 12px 12px 12px;
    cursor:pointer;

}

.Submit_details:hover {
    background-color: #0079d3;
	opacity: 0.8;
}

.Forget_username_prompt{
    position: absolute;
    top:86vh;
    left:12vw;
    font-size:14px;
    letter-spacing: 0.5px;
    float:left;
}
.Signup_prompt{
    position: absolute;
    
    font-size:14px;
    color:#1a1a1b;
    top:92vh;
    left:12vw;
    float:left;
}
#sign-up_link{
    font-size: 12px;
   
    font-weight: 400;
    text-decoration: solid;
}

#sign-up_link:hover{
    opacity:0.7;
}