body{
    overflow: hidden;
}


#main_art{
    height: 100vh;
    width:10vw;
    padding: none;
    margin: 0ems;
}
.image_container{
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
}
.Log_in_prompt_container{
    position: relative;
    top: 20vh;
    left: 12vw;
}
.Log_in_prompt{
    align-items: center;
    text-decoration: none;
}

.Log_in_prompt_userpolicy{

}
.inputboxes > *{
    position: relative;
    margin:none;
    border:none;
    border:1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background-color: #fcfcfb;
    padding: 12px 8px 10px;
    width:18%;
    height:30px;
}


.Login_titles > *{
    position: relative;
    font-family: Noto Sans,sans-serif;
    font-size: 12px;
    padding-left: 30vw;
    
}

.Submit_details{
    position: absolute;
    margin-left: 15vw;
    margin-top: 80vh;
    border-radius: 12px;
    width: 350px;
    color:white;
    border:0vh;
    text-decoration: solid;
    background: #0079d3;
    padding: 12px 12px 12px 12px;
    top:20px;
    left:10px;

}

.Easy_Login{
    position:relative;
    top:30vh;
    left:15vw;
}


.Google{
    position: relative;
    border-radius: 20px;
    border-width: 0.4px;
   
    width:25vw;
    height:5vh;
    background: white;
 
    top:1vh;
}
#Google_favicon{
    width: 18px;
    padding-right:40px;
}
.Google_content{
    padding-right:20px;
    font-size: 15px;
    font-style: normal;
    font-family: "Google Sans",arial,sans-serif;
    color: 3c4043;
}
.Apple{
    position: relative;
    border-radius: 20px;
    border-width: 0.4px;
    width:25vw;
    height:5vh;
    background: white;
    top:3vh;
}
#Apple_favicon{
    width:18px;
    padding-right: 40px;
}

.Apple_content{
    font-size: 15px;
    font-style: normal;
    font-family: "Google Sans",arial,sans-serif;
    color: 3c4043;

}
a{
    text-decoration: none;
    color: 0079d3;
}
.Actual_username{
    left: 18vw;
    top: 40vh;
    width:25vw;
    align-items: center;
    position: relative;

}
.Actual_password{
    top:50vh;
    right:1vw;
    width:25vw;
    align-items: center;
    position: relative;
 
} 

.Divider{
    position: absolute;
    top:500px;
    left:250px;
}
.Dividerline{
    display:inline;
    border-top: 1px solid #edeff1;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(237, 239, 241);
    width:40%;
}
.Forget_username_prompt{
    position: absolute;
    top:86vh;
    left:20vw;
}
.Signup_prompt{
    position: absolute;
    top:92vh;
    left:20vw;
}